@model List<UserInRoleViewModel>
@{
    ViewData["Title"] = "AddorRemoveUsers";
    var RoleId = ViewBag.RoleId;
}

<h1> Add Or Remove Users</h1>


<form class="my-3" asp-action="AddorRemoveUsers" asp-route-roleId="@RoleId">
    @for(var i = 0; i< Model.Count; i++){

        <div class="form-group">
            <input asp-for="@Model[i].IsSelected" />
            <label asp-for="@Model[i].IsSelected" >@Model[i].UserName</label>
        </div>
        <input type="hidden" asp-for="@Model[i].UserId" />
        <input type="hidden" asp-for="@Model[i].UserName" />

    }       
        <div class="my-3">
          <input type="submit" value="Update" class="btn btn-success" />
          <a class="btn btn-light" asp-action="Update" asp-controller="Role" asp-route-id="@RoleId">Cancel</a>
        </div>
        </form>


